<form [formGroup]="formGroup">
  <div class="mb-3">
    <label for="type--select" class="form-label">Tipo de transação</label>
    <select class="form-control" id="type--select" formControlName="type">
      <ng-container *ngFor="let key of keys">
        <option [value]="key">{{ items[key] }}</option>
      </ng-container>
    </select>
  </div>
  <div class="mb-3">
    <label for="qnt--input" class="form-label">Quantidade</label>
    <input type="number" class="form-control" id="qnt--input" formControlName="quantity">
  </div>
  <div class="mb-3">
    <label for="description--input" class="form-label">Descrição</label>
    <input type="text" class="form-control" id="description--input" placeholder="Venda de dois cabos de rede..." formControlName="description">
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="create()">Adicionar Transação</button>
  </div>
</form>