<main class="container-lg m-0 mt-3 w-100">
  <h1>Dashboard</h1>
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Financial Overview</div>
          <p>dashboard here</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title">Record Transaction</div>
          <p>form here</p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title">Transaction List</div>
          <p>transactions here</p>
        </div>
      </div>
    </div>
  </div>
</main>